body {
    font-family: helvetica, arial, sans-serif;
    background-color: #e7ebee;
  }

  #nav{
	background-color:#eb2a2a;
	box-shadow:0 0 1em rgba(0,0,0,0.3);
	position:fixed;
	top:0;
	width:100%; height:4.2em;
	text-align:right;
}

  #nav a{
	margin:0;
	padding:0;
	height:100%;
	line-height:4.25em;
	display:inline-block;
	text-align:center;
	color:#000000 !important;
	padding-left:1em;
	padding-right:1em;
	text-decoration:none !important;
	font-family:'Lato', sans-serif;
	font-size:1em;
	font-weight:900;
	text-decoration:none !important;
}

  #nav a:hover{
	background-color:rgba(255, 250, 250, 0.959);
}
  #nav a:active{
	background-color:rgb(223, 213, 213);
}

#login{
	width: 100%;
	background-color:rgb(255, 255, 255);
	text-align:center;
	display: flex;
	flex-direction: column;
	position:fixed;
	top: 4.3em;
}

#login div{
	margin: 0.5em;
}
.input{
	width: 5%;
	height: 5%;
}

#log{
	width: 5%;
	height: 5%;
	margin:auto;
}
